@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  font-family:
    Inter,
    Roboto,
    system-ui,
    -apple-system,
    Segoe UI,
    sans-serif;
  background: #f1f5f9;
}

#root {
  min-height: 100vh;
}
